# Database
DATABASE_URL=postgresql://user:password@localhost:5432/nodebase

# Authentication
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Polar Payment Integration
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=http://localhost:3000/dashboard
